@import "/styles/variables";

.review {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1.5rem;

  @media screen and (min-width: 768px) {
    grid-column-gap: 2rem;
  }

  @media screen and (min-width: 1440px) {
    grid-column-gap: 3rem;
  }

  & + & {
    margin-top: 3rem;
  }

  &__avatar {
    width: 4.2rem;
    height: 4.2rem;
    color: #55B7F3;
    background: $blue-extra-light;
    border-radius: 1rem;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
      width: 7rem;
      height: 7rem;
      border-radius: 1.5rem;
    }

    &Wrap {
      text-decoration: none;
    }
  }

  &__rate {
    font: 1.2rem/1.4rem $font-family;
    color: $orange;
    display: flex;
    align-items: center;
    margin-top: 1rem;

    @media screen and (min-width: 768px) {
      margin-top: 0;
      margin-left: 1.5rem;
    }

    &_mobile {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    &_desktop {
      display: none;

      @media screen and (min-width: 768px) {
        display: flex;
      }
    }
  }

  &__star {
    font-size: 1.3rem;
    margin-right: .4rem;

    @media screen and (min-width: 768px) {
      color: $grey;
    }

    &.active {
      color: $orange;
    }
  }

  &__header {
    margin-bottom: 1rem;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      margin-bottom: .8rem;
    }
  }

  &__title {
    font: 1.6rem/2rem $font-family;
    color: $black;
    margin-bottom: .4rem;

    @media screen and (min-width: 768px) {
      margin: 0;
    }
  }

  &__date {
    font: 1.2rem/1.6rem $font-family;
    color: $grey;

    @media screen and (min-width: 768px) {
      margin-left: auto;
    }
  }

  &__text {
    width: 100%;
    max-height: 6rem;
    font: 1.4rem/2rem $font-family;
    color: $grey;
    overflow: hidden;
    white-space: pre-line;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    &_full {
      display: inline;
    }
  }

  &__showMore {
    font: 1.4rem/2rem $font-family;
    color: $blue;
    cursor: pointer;
  }
}
