@import "/styles/mixins";

.article {
  margin: 10.4rem auto 4.4rem;

  @media screen and (min-width: 600px) {
    margin-top: 4rem;
  }

  @media screen and (min-width: 768px) {
    margin-top: response(4, 7, 76.8, 144);
    margin-bottom: response(4.4, 8.3, 76.8, 144);
  }

  @media screen and (min-width: 1100px) {
    max-width: 75%;
    padding: 0;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 7rem;
    margin-bottom: 8.3rem;
  }
}
