@import "/styles/variables";

.delete {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__desc {
    font: 1.6rem/2rem $font-family;
    color: $grey;
    text-align: center;
  }
}

.card {
  width: 100%;
  padding: 1rem;
  border: .1rem solid rgba($grey, .4);
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 3.3rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: 'img address' 'img price';
  grid-gap: 1rem 1.5rem;

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;

    &No {
      width: 6rem;
    }

    &Wrap {
      width: 9.9rem;
      background: $blue-extra-light;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-area: img;
    }
  }

  &__address {
    font: 1.6rem/2rem $font-family;
    color: $black;
    grid-area: address;
    align-self: flex-end;
  }

  &__price {
    font: 1.4rem/2rem $font-family;
    color: $blue;
    grid-area: price;

    span {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}
