.socials {
  @media screen and (min-width: 1024px) {
    grid-area: socials;
  }

  &__list {
    margin-bottom: 4rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & + & {
      margin-top: 2rem;
    }
  }
}
