@import "/styles/variables";

.lang {
  &__item {
    min-height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color .2s;

    &.active {
      color: $blue;
    }

    & + & {
      margin-top: 1.2rem;
    }
  }
}
