.img {
  width: 12.4rem;
  height: 12.4rem;
  margin: 0 auto;
  display: block;

  @media screen and (min-width: 440px) {
    width: 17.3rem;
    height: 17.3rem;
  }
}

.btn {
  margin-top: 4rem;

  @media screen and (min-width: 440px) {
    margin-top: 5rem;
  }
}
