@import "styles/variables";
@import "styles/mixins";

.article {
  &__title {
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 500;
    color: $black;
    margin-bottom: 3rem;

    @media screen and (min-width: 375px) {
      font-size: response(2.4, 3, 37.5, 76.8);
      line-height: response(3, 4, 37.5, 76.8);
      margin-bottom: response(3, 4, 37.5, 76.8);
    }

    @media screen and (min-width: 768px) {
      font-size: 3rem;
      line-height: 4rem;
      margin-bottom: 4rem;
    }
  }

  & p {
    font-size: 1.4rem;
    line-height: 2rem;
    color: $black;
    text-align: justify;

    @media screen and (min-width: 375px) {
      font-size: response(1.4, 1.6, 37.5, 76.8);
      line-height: response(2, 2.2, 37.5, 76.8);
    }

    @media screen and (min-width: 768px) {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }

  & p + p {
    margin-top: 2rem;
  }
}
