@import "styles/mixins";

.search {
  @media screen and (max-width: 767px) {
    margin: 0 -2.5rem;
  }

  &__wrap {
    margin: 14.4rem 0 4.8rem;

    @media screen and (min-width: 600px) {
      margin-top: 8.7rem;
    }

    @media screen and (min-width: 768px) {
      margin-top: response(8.7, 11.3, 76.8, 144);
    }

    @media screen and (min-width: 1440px) {
      margin-top: 11.3rem;
    }
  }
}
