@import "styles/variables";
@import "styles/mixins";

.search {
  width: 100%;
  max-width: 72rem;
  padding: 0 4rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media screen and (min-width: 375px) {
    padding: 0 response(4, 9.5, 37.5, 76.8);
  }

  @media screen and (min-width: 768px) {
    padding: 0 9.5rem;
  }

  @media screen and (min-width: 1024px){
    padding: 0;
  }

  &__icon {
    min-width: 3rem;
    height: 3rem;
    background: $orange-light;
    border-radius: 50%;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 375px) {
      min-width: response(3, 4, 37.5, 76.8);
      height: response(3, 4, 37.5, 76.8);
      margin-right: response(1, 1.5, 37.5, 76.8);
    }

    @media screen and (min-width: 768px) {
      min-width: 4rem;
      height: 4rem;
      margin-right: 1.5rem;
    }

    & i {
      font-size: 1.8rem;
      color: $white;

      @media screen and (min-width: 375px) {
        font-size: response(1.8, 2.4, 37.5, 76.8);
      }

      @media screen and (min-width: 768px) {
        font-size: 2.4rem;
      }
    }
  }

  &__input {
    width: 100%;
    height: 4rem;
    font-size: 2.4rem;
    line-height: 3.5rem;
    font-weight: 500;
    color: $black;
    text-align: center;
    border: 0;
    border-bottom: .1rem solid rgba($grey, .4);

    @media screen and (min-width: 375px) {
      height: response(4, 5.2, 37.5, 76.8);
      font-size: response(2.4, 3, 37.5, 76.8);
      line-height: response(3.5, 4.5, 37.5, 76.8);
    }

    @media screen and (min-width: 768px) {
      height: 5.2rem;
      font-size: 3rem;
      line-height: 4.5rem;
    }
  }

  &__dropdown {
    max-height: 20rem;
    background: white;
    padding: 2rem 0;
    border-radius: 1rem;
    box-shadow: 0 .4rem 2.5rem rgba(25, 36, 95, .1);
    overflow: auto;
    display: none;
    position: absolute;
    top: calc(100% + 2.4rem);
    right: 0;
    left: 0;
    z-index: 1608;

    &.show {
      display: block;
    }

    & li {
      height: 4rem;
      font-size: 1.6rem;
      line-height: 2rem;
      list-style: none;
      padding: 0 2.5rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color .2s;

      &:hover {
        background: rgba($orange-light, .5);
      }

      &.disabled {
        background: $white;
        cursor: default;
      }
    }
  }

  &__btn {
    width: 13rem;
    height: 3.7rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: $white;
    background: $blue;
    padding: 0 1rem;
    border: 0;
    border-radius: .8rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    align-self: flex-end;
    box-shadow: 0 .4rem 2.5rem rgba(25, 36, 95, .1);
    cursor: pointer;
  }
}
