@import "/styles/variables";

.dropdown {
  width: 26.7rem;
  background: $white;
  padding: 2rem 2rem 0;
  border-radius: 1rem;
  box-shadow: 0 .4rem 2.5rem rgba(25, 36, 95, .1);
  position: absolute;
  top: calc(100% + 1.8rem);
  right: 0;
  overflow: hidden;
}
